//
// pager.scss begin
// ==================================================
//

.flippy{
  position: relative;
  img{
    height: 80px;
    width: auto;
  }
  .flippy-nav{
    float: left;
    width: 100%;
    clear: both;
    padding: .25rem 0;
    background: rgba(255,255,255,.8);
    text-align: center;
  }
  li{
    position: fixed;
    top: calc(50vh - 100px);
    a{
      float: left;
      width: 100%;
      position: relative;
      &:before{
        position: absolute;
        font-size: 30px;
        display: flex;
        align-items: center;
        width: 30px;
        height: 100%;
      }
    }
  }
  .next{
    left: -120px;
    transition: all .2s cubic-bezier(0.5, 0, 0, 1);
    &:hover{
      left: 0;
      transition: all .2s cubic-bezier(0.5, 0, 0, 1);
    }
    a{
      &:before{
        content:'<';
        right: -35px;
        background: #fff;
      }
    }
  }
  .prev{
    right: -120px;
    transition: all .2s cubic-bezier(0.5, 0, 0, 1);
    &:hover{
      right: 0;
      transition: all .2s cubic-bezier(0.5, 0, 0, 1);
    }
    a{
      &:before{
        content:'>';
        left: -35px;
        background: #fff;
      }
    }
  }
}