@media screen and (min-width: 900px) and (max-width: 1200px) {
	/* article teaser view mode */
	.node-article.node-teaser{
		.node-title{
			padding: 1.5vw 0 .5vw 2vw;
		}
		.submitted{
			padding-right: 2.5vw;
			top: 1vw;
		}
		.field-name-body{
			padding: 0 2vw;
		}
		.field-name-body p{
			font-size: 1.3vw;
		}
		.group-filters{
			padding: 0 2vw;
			bottom: 2vw;
		}
	}

	/* article default full view mode */
	.node-article.view-mode-full{
		p{
			font-size: 1.5vw;
		}
	}
	ul.flippy li a{
		font-size: 1.3em;
	}

	/* about page */
	.node-1{
		width: 65%;
	}
	.sidebar{
		width: 35%;
	}
}

@media screen and (min-width: 1550px) {
	.node-article.view-mode-full{
		p{
			padding: 0 20%;
		}
		#article-header{
		  padding: 0 20%;
		}
	}
	ul.flippy{
	  li{
	    a{
      	color: @primary;
      	background: #efefef;
	      position: fixed;
	      z-index: 2;
	      top: ~'calc(50% - 2em)';
	      padding: 1.5em;
	      float: none;
	      width: auto;
	      &:hover{
         	background: @primary;
        		color: #fff;
	      }
	    }
	    &.next a{
	      left: -10vw;
	      &.pager-visible{
	        left: 0;
	      }
	    }
	    &.prev a{
	      right: -10vw;
	      &.pager-visible{
	        right: 0;
	      }
	    }
	  }
	}
}

@media screen and (min-width: 3000px) {
	.node-article.view-mode-full{
		p{
			padding: 0 1em;
		}
		#article-header{
		  padding: 0 2.5em;
		}
	}
}