@media screen and (max-width: 480px) {
	input, 
	button, 
	textarea{
		font-size: 1em;
		padding: 1em;
		margin-bottom: .25em;
	}
	p.img{
		max-width: ~'calc(100% + 4em)';
		margin-left: -2em;
	}
	.group-lefthalf,
	.group-righthalf{
		width: 100%;
	}
	.pager{
		float: left;
		width: 100%;
		li{
			display: none;
			a{
				padding: 6vw;
			}
			&.pager-next, 
			&.pager-previous{
				display: block;
				padding: 0;
			}
			&.pager-next{
				float: right;
			}
			&.pager-current{
				display: none;
			}
		}
	}
	#header{
		padding: 1em 0;
		text-align: center;
	}
	#logo {
	  width: 100%;
	  height: auto;
	  font-size: 1.5em;
	  line-height: 1;
	  letter-spacing: -1px;
	}
	.front #header{
		margin: 0;
	}

	/* about front page section */
	#me{
		display: none;
	}
	#about{
		padding: 2em 3vw;
		p{
			font-size: 1em;
			line-height: 1.5;
		}
	}

	/* article teaser view mode */
	.node-article.node-teaser{
		.node-title{
  		width: 100%;
  		padding: 3vw;
  		position: absolute;
			top: 0;
			background: rgba(255,255,255,.9);
  		a{
  			font-size: 6vw;
  		}
		}
		.submitted,
		.field-name-body{
	  	display: none;
		}
		.node-readmore,
		.group-filters{
			display: none;
		}
	}

	/* article default full view mode */
	.node-article.view-mode-full{
		#article-header{
			padding: 0 1.5em;
			.node-title a{
				float: left;
				width: 100%;
				font-size: 1.2em;
			}
			.submitted{
				display: none;
			}
		}
		p{
			font-size: 1.1em;
			padding: 1em 1.5em;
		}
	}
	#article-filters{
		.group-filters{
			width: 100%;
			.field-item{
				float: left;
				width: 100%;
				a{
					font-size: 1em;
				}
			}
		}
	  .field-name-field-media-type,
	  .field-name-field-tags{
	  		float: none;
	  }
	}
	ul.flippy li a{
		font-size: 1em;
	}

	/* about and contact page */
	.page-node-1{
		p{
			font-size: 1em;
			padding: 0 10%;
		}
		#main .content{
			max-width: 100%;
			padding: 4vw 0 0;
		}
		.sidebar{
			display: none
		}
		.node-1{
			width: 100%;
		}
		.webform-client-form {
			padding: 1em 10% 4em;
		}
		.webform-component--email,
		.webform-component--full-name {
			width: 100%;
			margin: 0 0 0.5vw;
		}
	}

	/* taxonomy pages */
	.page-taxonomy #page-title{
		font-size: 7vw;
		padding: 4vw;
	}

}