/*
* base.less begin
* Page structure and formatting styles
* ==================================================
*/
/* 
* Base Formatting
* -------------------------
*/
*,
*:after,
*:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  font-family: 'Lato', sans-serif;
  background: #fff;
}
label {
  display: none;
}
img {
  max-width: 100%;
  height: auto;
  float: left;
}
.clearfix:after {
  content: "";
}
ul {
  list-style: none;
  padding: 0;
}
ul li {
  margin: auto;
  list-style: none;
  float: left;
}
::-webkit-input-placeholder {
  color: #4f7b84;
}
::-moz-placeholder {
  color: #4f7b84;
}
:-ms-input-placeholder {
  color: #4f7b84;
}
input,
button,
textarea {
  outline: 0;
  width: 100%;
  border: 0px;
  padding: 1vw;
  font-size: 1.2vw;
  background: #efefef;
  font-family: 'Lato', sans-serif;
  -webkit-appearance: none;
  border-radius: 0;
  line-height: 1.5;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}
input[type='submit'] {
  color: #fff;
  background: #68c06d;
}
input[type='submit']:hover {
  background: #44b94a;
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  transition: all 0s ease;
}
.form-item {
  margin: 0 0 .5vw 0;
}
.form-textarea:hover,
.form-item input:hover,
.webform-component input:hover {
  background: #f7f7f7;
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  transition: all 0s ease;
}
.resizable-textarea .grippie {
  display: none;
}
/* 
* Text formatting
* -------------------------
*/
p {
  font-size: 1.2vw;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #333;
  line-height: 2;
  float: left;
  width: 100%;
  margin: 1vw 0;
}
a {
  color: #4f7b84;
  text-decoration: none;
}
a.highlight {
  color: #e74c3c;
}
a:focus {
  outline: 0;
}
h1 {
  font-size: 4vw;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: #333;
  margin: 0;
  padding: .5em 0 0;
}
#page-title {
  width: 100%;
  float: left;
  text-transform: uppercase;
}
.field-name-body a:not(.exempt),
.field-name-field-body a:not(.exempt) {
  color: #4f7b84;
  overflow: hidden;
  font-weight: 500;
  position: relative;
  display: inline-block;
  outline: none;
  vertical-align: bottom;
  text-decoration: none;
  word-spacing: .25em;
  margin-right: .2em;
}
.field-name-body a:not(.exempt)::before,
.field-name-field-body a:not(.exempt)::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 1px;
  background: #4f7b84;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  -webkit-transform: scaleY(0.5) translateX(-105%);
  transform: scaleY(0.5) translateX(-105%);
}
.field-name-body a:not(.exempt)::before,
.field-name-field-body a:not(.exempt)::before,
.field-name-body a:not(.exempt)::after,
.field-name-field-body a:not(.exempt)::after {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.field-name-body a:not(.exempt):hover::before,
.field-name-field-body a:not(.exempt):hover::before,
.field-name-body a:not(.exempt):focus::before,
.field-name-field-body a:not(.exempt):focus::before {
  -webkit-transform: scaleY(1) translateX(0);
  transform: scaleY(1) translateX(0);
}
/* 
* Website structure
* -------------------------
*/
#site {
  z-index: 10;
  float: left;
  width: 100%;
  background: #fff;
}
#header {
  width: 100%;
  float: left;
  background: url(../images/header.jpg) center;
  min-height: 100px;
  padding: 2em 0;
}
#header .wrapper {
  padding: 0 2em;
}
#logo {
  width: 152px;
  height: 87px;
  color: #fff;
  font-family: 'Lato';
  font-weight: 900;
  font-size: 56px;
  text-transform: uppercase;
  letter-spacing: -2px;
  line-height: .8;
  float: left;
}
#logo a {
  position: relative;
}
#logo a:hover {
  border: 0;
}
#main {
  width: 100%;
  float: left;
  z-index: 1;
  position: relative;
  background: #fff;
  padding: 0;
}
#main .content {
  margin: auto;
  max-width: 1200px;
  float: none;
}
.wrapper {
  width: 100%;
  float: left;
  padding: 0 4em;
}
.front #main .content,
.section-articles #main .content,
.page-taxonomy #main .content {
  float: left;
  width: 100%;
  max-width: none;
}
/* 
* Pagers
* -------------------------
*/
.item-list {
  float: left;
  width: 100%;
}
.pager {
  float: right;
  width: auto;
  text-transform: uppercase;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #fcfcfc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #ffffff 0%, #fcfcfc 100%);
  /* W3C */
}
.pager li {
  float: left;
}
.pager li.pager-current {
  background: #4f7b84;
  color: #fff;
}
.pager li a {
  display: block;
  padding: 1.5em;
  float: left;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}
.pager li a:hover,
.pager li a:active {
  border: 0;
  color: #fff;
  background: #e74c3c;
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  transition: all 0s ease;
}
.pager .pager-current {
  display: block;
  padding: 1.5em;
  float: left;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}
.pager-next,
.pager-previous {
  display: none;
}
.pager-ellipsis {
  padding: 1.5em .5em;
  color: #4f7b84;
}
/*
* about.less begin
* About front page section and contact page
* ==================================================
*/
/* 
* About front page section
* -------------------------
*/
#about {
  padding: 3em 3vw 3vw;
  width: 100%;
  float: left;
  z-index: 1;
  position: relative;
  text-align: center;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #fcfcfc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #ffffff 0%, #fcfcfc 100%);
  /* W3C */
}
#about p {
  line-height: 1.75;
  font-size: 1.6vw;
  margin: 2vw 0;
  float: none;
}
#about a:not(.exempt) {
  color: #e74c3c;
  overflow: hidden;
  font-weight: 500;
  position: relative;
  display: inline-block;
  outline: none;
  vertical-align: bottom;
  text-decoration: none;
}
#about a:not(.exempt)::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 2px;
  background: #e74c3c;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  -webkit-transform: scaleY(0.5) translateX(-105%);
  transform: scaleY(0.5) translateX(-105%);
}
#about a:not(.exempt)::before,
#about a:not(.exempt)::after {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#about a:not(.exempt):hover::before,
#about a:not(.exempt):focus::before {
  -webkit-transform: scaleY(1) translateX(0);
  transform: scaleY(1) translateX(0);
}
#me {
  opacity: 1;
  z-index: 999;
  top: -50px;
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  border: #fff solid 6px;
}
#me img {
  border-radius: 50%;
}
/* 
* Contact page with about me and social link sidebar
* -------------------------
*/
.page-node-1 p {
  font-size: 1.3vw;
}
.page-node-1 .submitted {
  display: none;
}
.page-node-1 .webform-client-form {
  float: left;
  width: 100%;
  padding: 1.5vw 0 5vw;
}
.page-node-1 #main .content {
  padding: 1vw 2vw 0;
  max-width: calc(1200px + 4vw);
}
.node-1 {
  float: left;
  width: 70%;
}
.webform-component--email {
  margin-left: .5vw;
}
.webform-component--email,
.webform-component--full-name {
  float: left;
  width: calc(50% - .25vw);
}
.sidebar {
  float: left;
  width: 30%;
  font-size: 1.3vw;
  padding-right: 2.75vw;
}
.sidebar ul {
  padding-top: 1vw;
}
.sidebar ul li {
  width: 100%;
  float: left;
}
.sidebar ul li a {
  width: 100%;
  float: left;
  display: table;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}
.sidebar ul li a:before {
  float: left;
  content: "";
  width: 25px;
  height: 25px;
  margin-right: 1vw;
  background: url(../images/icons.svg);
  background-size: 125px 50px;
  background-position: 0 0;
}
.sidebar ul li a.social-link {
  padding: 1.2vw;
  background: #efefef;
}
.sidebar ul li a:hover {
  border: 0;
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  transition: all 0s ease;
}
.sidebar ul li a#resume {
  margin-bottom: .5vw;
  text-align: center;
}
.sidebar ul li a#resume:before {
  margin-left: calc(50% - 12px);
  margin-right: calc(50% - 13px);
  margin-bottom: 5px;
  background-position: 0 0;
  background-position: 100% 0;
}
.sidebar ul li a#resume:hover {
  background: #e74c3c;
  color: #fff;
}
.sidebar ul li a#resume:hover:before {
  background-position: 100% 100%;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}
.sidebar ul li a#github:before {
  background-position: 0 0;
}
.sidebar ul li a#github:hover {
  background: #181818;
  color: #fff;
}
.sidebar ul li a#github:hover:before {
  background-position: 0 100%;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}
.sidebar ul li a#flickr:before {
  background-position: 25% 0;
}
.sidebar ul li a#flickr:hover {
  background: #0063dc;
  color: #fff;
}
.sidebar ul li a#flickr:hover:before {
  background-position: 25% 100%;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}
.sidebar ul li a#vimeo:before {
  background-position: 50% 0;
}
.sidebar ul li a#vimeo:hover {
  background: #45bbff;
  color: #fff;
}
.sidebar ul li a#vimeo:hover:before {
  background-position: 50% 100%;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}
.sidebar ul li a#instagram:before {
  background-position: 75% 0;
}
.sidebar ul li a#instagram:hover {
  background: #517fa4;
  color: #fff;
}
.sidebar ul li a#instagram:hover:before {
  background-position: 75% 100%;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}
span.platform {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  width: 100%;
}
#profile-photo {
  margin-top: 1.75vw;
}
/*
* admin.less begin
* Administration elements and tools
* ==================================================
*/
/* 
* Log in screen
* -------------------------
*/
.page-user-login #page-title,
.page-user-login .tabs-primary,
.page-user-login .description {
  display: none;
}
#user-login {
  padding: 1em 0;
  margin: auto;
  width: 400px;
}
/* 
* Display messages for all users
* -------------------------
*/
#messages {
  float: left;
  width: 100%;
  padding: 1em;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #fcfcfc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #ffffff 0%, #fcfcfc 100%);
  /* W3C */
}
#messages li {
  clear: both;
}
#messages .messages.status p {
  text-align: center;
  background: #68c06d;
  padding: 0 1em;
  margin: 0;
  float: left;
  width: 100%;
  color: #fff;
}
/* 
* Primary and secondary administration tabs
* -------------------------
*/
.tabs-primary {
  float: left;
  width: 100%;
}
.tabs-primary ul {
  margin-bottom: 1em;
  float: left;
}
.tabs-primary li {
  float: left;
  padding: 1em 0 0;
}
.tabs-primary li a {
  float: left;
  padding: .5em;
  background: #efefef;
  color: #4f7b84;
  border: 0;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}
.tabs-primary li a:hover {
  background: #e74c3c;
  color: #fff;
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  transition: all 0s ease;
}
.tabs-primary li.is-active a {
  background: #4f7b84;
  color: #fff;
}
.page-taxonomy .tabs-primary {
  padding: 1em;
}
.page-taxonomy .tabs-primary li {
  padding: 0;
}
/*
* article.less begin
* Article content type styles
* ==================================================
*/
/* 
* Field Groups
* -------------------------
*/
.group-filters {
  float: left;
  width: 100%;
}
.group-filters .field-item {
  float: left;
  margin-right: 1vw;
}
.group-filters .field-item a {
  line-height: 2;
  text-transform: uppercase;
  color: #4f7b84;
  overflow: hidden;
  font-weight: 500;
  position: relative;
  display: inline-block;
  outline: none;
  vertical-align: bottom;
  text-decoration: none;
}
.group-filters .field-item a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 1px;
  background: #4f7b84;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  -webkit-transform: scaleY(0.5) translateX(-105%);
  transform: scaleY(0.5) translateX(-105%);
}
.group-filters .field-item a::before,
.group-filters .field-item a::after {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.group-filters .field-item a:hover::before,
.group-filters .field-item a:focus::before {
  -webkit-transform: scaleY(1) translateX(0);
  transform: scaleY(1) translateX(0);
}
.group-lefthalf,
.group-righthalf {
  float: left;
  width: 50%;
}
/* 
* Article Full Display Mode 
* -------------------------
*/
.node-article {
  float: left;
  width: 100%;
}
.node-article.view-mode-full {
  max-width: 1200px;
  padding: 0;
  position: relative;
}
.node-type-article #page-title {
  width: 100%;
  padding-left: 20%;
  font-size: 2.75vw;
}
.node-article.view-mode-full p {
  font-size: 1.3vw;
  text-align: justify;
  padding: 0 20%;
}
.node-article.view-mode-full .submitted {
  width: auto;
  float: right;
  position: absolute;
  text-transform: uppercase;
  top: -4.5vw;
  right: 0;
}
.node-article.view-mode-full .group-filters {
  padding: 2vw 0 2vw 20%;
  margin-top: 1vw;
}
/* 
Article Teaser Display Mode
* -------------------------
*/
article {
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.node-article.node-teaser {
  position: relative;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #fcfcfc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #ffffff 0%, #fcfcfc 100%);
  /* W3C */
}
.node-article.node-teaser .node-title {
  float: right;
  width: 50%;
  padding: 3.5vw 0 1vw 4vw;
  margin: 0;
}
.node-article.node-teaser .node-title a {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.5vw;
  color: #000;
  overflow: hidden;
  position: relative;
  display: inline-block;
  outline: none;
  vertical-align: bottom;
  text-decoration: none;
}
.node-article.node-teaser .node-title a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 2px;
  background: #000;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  -webkit-transform: scaleY(0.5) translateX(-105%);
  transform: scaleY(0.5) translateX(-105%);
}
.node-article.node-teaser .node-title a::before,
.node-article.node-teaser .node-title a::after {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.node-article.node-teaser .node-title a:hover::before,
.node-article.node-teaser .node-title a:focus::before {
  -webkit-transform: scaleY(1) translateX(0);
  transform: scaleY(1) translateX(0);
}
.node-article.node-teaser .submitted {
  position: absolute;
  top: 2.75vw;
  right: 0;
  padding-right: 4.5vw;
  width: auto;
  text-transform: uppercase;
}
.node-article.node-teaser .field-name-body {
  float: left;
  width: 100%;
  text-align: justify;
  padding: 0 4vw;
}
.node-article.node-teaser .field-name-body p {
  margin: 0;
}
.node-article.node-teaser .field-name-field-image img {
  width: 100%;
  float: left;
}
.node-article.node-teaser .group-filters {
  position: absolute;
  bottom: 3.5vw;
  width: 50%;
  padding: 0 4vw;
  font-size: 1.1vw;
}
/* 
Article Teaser Display Mode Read More 
* -------------------------
*/
.node-article.node-teaser .node-readmore {
  position: absolute;
  padding: 0;
  margin: 0;
  bottom: 0;
  height: 100%;
  width: 50%;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.node-article.node-teaser .node-readmore a {
  opacity: 0;
  padding-top: 30%;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 4vw;
  font-weight: 900;
  text-transform: uppercase;
  float: left;
  border: 0;
}
.node-article.node-teaser .node-readmore:hover {
  background: rgba(255, 255, 255, 0.9);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.node-article.node-teaser .node-readmore:hover a {
  opacity: 1;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/*
* taxonomy.less begin
* Taxonomy search result pages and content
* ==================================================
*/
/* 
* Taxonomy Page Title
-------------------------
*/
.page-taxonomy #page-title {
  text-align: center;
  font-size: 3.5vw;
  text-transform: uppercase;
  background: #4f7b84;
  color: #fff;
  padding: 1.5vw;
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
  /* Article Teaser Styles */
  .node-article.node-teaser .node-title {
    padding: 1.5vw 0 .5vw 2vw;
  }
  .node-article.node-teaser .submitted {
    padding-right: 2.5vw;
    top: 1vw;
  }
  .node-article.node-teaser .field-name-body {
    padding: 0 2vw;
  }
  .node-article.node-teaser .field-name-body p {
    font-size: 1.3vw;
  }
  .node-article.node-teaser .group-filters {
    padding: 0 2vw;
    bottom: 2vw;
  }
  /* Article Full Node Styles */
  .node-type-article #page-title {
    font-size: 3.5vw;
  }
  .node-article.view-mode-full p {
    font-size: 1.5vw;
  }
  /* About */
  .node-1 {
    width: 65%;
  }
  .sidebar {
    width: 35%;
  }
}
@media screen and (min-width: 481px) and (max-width: 799px) {
  p.img {
    max-width: calc(104%);
    margin-left: -2em;
  }
  .group-lefthalf,
  .group-righthalf {
    width: 100%;
  }
  .pager .pager-current,
  .pager li a {
    padding: 4.5vw 3.5vw;
  }
  .pager-ellipsis {
    padding: 4.5vw 1vw;
  }
  /* About */
  #me {
    display: none;
  }
  #about {
    padding: 3em 3vw;
  }
  #about p {
    font-size: 3.5vw;
    line-height: 1.5;
  }
  /* Article Teaser Styles */
  .node-article.node-teaser .node-title {
    width: 100%;
    padding: 3vw;
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.9);
  }
  .node-article.node-teaser .node-title a {
    font-size: 5vw;
  }
  .node-article.node-teaser .submitted,
  .node-article.node-teaser .field-name-body {
    display: none;
  }
  .node-article.node-teaser .group-filters {
    float: left;
    width: 100%;
    padding: 2vw 3vw;
    left: 0;
    bottom: 0;
    background: rgba(24, 24, 24, 0.8);
  }
  .node-article.node-teaser .group-filters a {
    font-size: 2.75vw;
    margin-right: 3vw;
    color: #fff;
  }
  .node-article.node-teaser .node-readmore {
    display: none;
  }
  /* Article Full Node Styles */
  .node-type-article #page-title {
    width: 100%;
    padding-left: 10%;
    font-size: 5vw;
  }
  .node-article.view-mode-full .submitted {
    width: 100%;
    float: left;
    margin: 0;
    position: relative;
    top: 0;
  }
  .node-article.view-mode-full p {
    font-size: 2.2vw;
    padding: 1em 10%;
  }
  .node-article.view-mode-full .group-filters {
    padding: 1em 10%;
    margin-top: 1vw;
    background: rgba(0, 0, 0, 0.8);
  }
  .node-article.view-mode-full .group-filters .field-item {
    width: 100%;
    float: left;
    padding: .25em 0;
  }
  .node-article.view-mode-full .group-filters .field-item a {
    color: #fff;
  }
  /* About */
  .node-1 {
    width: 65%;
  }
  .sidebar {
    width: 35%;
  }
  .sidebar ul li a:before {
    width: 18px;
    height: 18px;
    background-size: 90px 36px;
  }
  .webform-component--email,
  .webform-component--full-name {
    width: 100%;
    margin: 0 0 0.5vw;
  }
  /* Taxonomy Pages */
  .page-taxonomy #page-title {
    font-size: 6vw;
    padding: 3vw;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #header {
    background: url(../images/headerx2.jpg) center;
  }
}
@media screen and (max-width: 480px) {
  input,
  button,
  textarea {
    font-size: 1em;
    padding: 1em;
    margin-bottom: .25em;
  }
  p.img {
    max-width: calc(100% + 4em);
    margin-left: -2em;
  }
  .group-lefthalf,
  .group-righthalf {
    width: 100%;
  }
  .pager {
    float: left;
    width: 100%;
  }
  .pager li {
    display: none;
  }
  .pager li a {
    padding: 6vw;
  }
  .pager li.pager-next,
  .pager li.pager-previous {
    display: block;
    font-size: 4.5vw;
    padding: 0;
  }
  .pager li.pager-next {
    float: right;
  }
  .pager li.pager-current {
    display: none;
  }
  /* About */
  #me {
    display: none;
  }
  #about {
    padding: 2em 3vw;
  }
  #about p {
    font-size: 5vw;
    line-height: 1.5;
  }
  /* Article Teaser Styles */
  .node-article.node-teaser .node-title {
    width: 100%;
    padding: 3vw;
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.9);
  }
  .node-article.node-teaser .node-title a {
    font-size: 6vw;
  }
  .node-article.node-teaser .submitted,
  .node-article.node-teaser .field-name-body {
    display: none;
  }
  .node-article.node-teaser .node-readmore,
  .node-article.node-teaser .group-filters {
    display: none;
  }
  /* Article Full Node Styles */
  .node-type-article #page-title {
    width: 100%;
    padding-left: 10%;
    font-size: 1.8em;
  }
  .node-article.view-mode-full .submitted {
    display: none;
  }
  .node-article.view-mode-full p {
    font-size: 1em;
    padding: 1.5em 10%;
  }
  .node-article.view-mode-full .group-filters {
    padding: 1em 10%;
    margin-top: 1vw;
    background: rgba(0, 0, 0, 0.8);
  }
  .node-article.view-mode-full .group-filters .field-item {
    width: 100%;
    float: left;
    padding: .25em 0;
  }
  .node-article.view-mode-full .group-filters .field-item a {
    color: #fff;
  }
  /* About */
  .page-node-1 p {
    font-size: 1em;
    padding: 0 10%;
  }
  .page-node-1 #main .content {
    max-width: 100%;
    padding: 4vw 0 0;
  }
  .page-node-1 .sidebar {
    display: none;
  }
  .page-node-1 .node-1 {
    width: 100%;
  }
  .page-node-1 .webform-client-form {
    padding: 1em 10% 4em;
  }
  .page-node-1 .webform-component--email,
  .page-node-1 .webform-component--full-name {
    width: 100%;
    margin: 0 0 0.5vw;
  }
  /* Taxonomy Pages */
  .page-taxonomy #page-title {
    font-size: 7vw;
    padding: 4vw;
  }
}
