/*
* base.less begin
* page structure and formatting styles
* ==================================================
*/
/* 
* base Formatting
* -------------------------
*/
*,
*:after,
*:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  font-family: 'Lato', sans-serif;
  background: #fff;
}
label {
  display: none;
}
img {
  max-width: 100%;
  height: auto;
  float: left;
}
ul {
  list-style: none;
  padding: 0;
}
ul li {
  margin: auto;
  list-style: none;
  float: left;
}
::-webkit-input-placeholder {
  color: #4f7b84;
}
::-moz-placeholder {
  color: #4f7b84;
}
:-ms-input-placeholder {
  color: #4f7b84;
}
input,
button,
textarea {
  outline: 0;
  width: 100%;
  border: 0px;
  padding: 1vw;
  font-size: 1.2vw;
  background: #efefef;
  font-family: 'Lato', sans-serif;
  -webkit-appearance: none;
  border-radius: 0;
  line-height: 1.5;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}
input[type='submit'] {
  color: #fff;
  background: #68c06d;
}
input[type='submit']:hover {
  background: #44b94a;
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  transition: all 0s ease;
}
.form-item {
  margin: 0 0 .5vw 0;
}
.form-textarea:hover,
.form-item input:hover,
.webform-component input:hover {
  background: #f7f7f7;
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  transition: all 0s ease;
}
.resizable-textarea .grippie {
  display: none;
}
/* 
* text formatting
* -------------------------
*/
p {
  font-size: 1.2vw;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #333;
  line-height: 2;
  float: left;
  width: 100%;
  margin: 1vw 0;
}
a {
  color: #4f7b84;
  text-decoration: none;
}
a.highlight {
  color: #e74c3c;
}
a:focus {
  outline: 0;
}
h1 {
  font-size: 4vw;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: #333;
  margin: 0;
  padding: .5em 0 0;
}
h2 {
  margin: 0;
}
.field-name-body a:not(.exempt),
.field-name-field-body a:not(.exempt) {
  color: #4f7b84;
  overflow: hidden;
  font-weight: 500;
  position: relative;
  display: inline-block;
  outline: none;
  vertical-align: bottom;
  text-decoration: none;
  word-spacing: .25em;
  margin-right: .2em;
}
.field-name-body a:not(.exempt)::before,
.field-name-field-body a:not(.exempt)::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 1px;
  background: #4f7b84;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  -webkit-transform: scaleY(0.5) translateX(-105%);
  transform: scaleY(0.5) translateX(-105%);
}
.field-name-body a:not(.exempt)::before,
.field-name-field-body a:not(.exempt)::before,
.field-name-body a:not(.exempt)::after,
.field-name-field-body a:not(.exempt)::after {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.field-name-body a:not(.exempt):hover::before,
.field-name-field-body a:not(.exempt):hover::before,
.field-name-body a:not(.exempt):focus::before,
.field-name-field-body a:not(.exempt):focus::before {
  -webkit-transform: scaleY(1) translateX(0);
  transform: scaleY(1) translateX(0);
}
/* 
* structural containers
* -------------------------
*/
#site {
  z-index: 10;
  float: left;
  width: 100%;
  background: #fff;
}
#header {
  width: 100%;
  float: left;
  background: url(../images/header.jpg) center;
  padding: 2em 0;
  margin-bottom: 1.5em;
}
#header .wrapper {
  padding: 0 2em;
}
#logo {
  width: 152px;
  height: 87px;
  color: #fff;
  font-family: 'Lato';
  font-weight: 900;
  font-size: 56px;
  text-transform: uppercase;
  letter-spacing: -2px;
  line-height: .8;
  float: left;
}
#logo a {
  position: relative;
  transform-origin: left;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}
#logo a:hover {
  border: 0;
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  transition: all 0s ease;
}
/* 
* pagers
* -------------------------
*/
.item-list {
  float: left;
  width: 100%;
}
.pager {
  float: right;
  width: auto;
  font-size: 1em;
  text-transform: capitalize;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #fcfcfc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #ffffff 0%, #fcfcfc 100%);
  /* W3C */
}
.pager li {
  float: left;
}
.pager li.pager-current {
  background: #4f7b84;
  color: #fff;
}
.pager li a {
  display: block;
  padding: 1.5em;
  float: left;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}
.pager li a:hover,
.pager li a:active {
  border: 0;
  color: #fff;
  background: #4f7b84;
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  transition: all 0s ease;
}
.pager .pager-current {
  display: block;
  padding: 1.5em;
  float: left;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}
.pager-next,
.pager-previous {
  display: none;
}
.pager-ellipsis {
  padding: 1.5em .5em;
  color: #4f7b84;
}
/*
* about.less begin
* about front page section and contact page
* ==================================================
*/
/* 
* about front page section
* -------------------------
*/
#about {
  padding: 1.5em 3vw 3vw;
  width: 100%;
  float: left;
  z-index: 1;
  position: relative;
  text-align: center;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #fcfcfc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #ffffff 0%, #fcfcfc 100%);
  /* W3C */
}
#about p {
  line-height: 1.75;
  font-size: 1.6vw;
  margin: 2vw 0;
  float: none;
}
#about a:not(.exempt) {
  color: #e74c3c;
  overflow: hidden;
  font-weight: 500;
  position: relative;
  display: inline-block;
  outline: none;
  vertical-align: bottom;
  text-decoration: none;
}
#about a:not(.exempt)::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #e74c3c;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  -webkit-transform: scaleY(0.5) translateX(-105%);
  transform: scaleY(0.5) translateX(-105%);
}
#about a:not(.exempt)::before,
#about a:not(.exempt)::after {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#about a:not(.exempt):hover::before,
#about a:not(.exempt):focus::before {
  -webkit-transform: scaleY(1) translateX(0);
  transform: scaleY(1) translateX(0);
}
#me {
  opacity: 1;
  z-index: 999;
  top: -4.5em;
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  border: #fff solid 6px;
}
#me img {
  border-radius: 50%;
}
/* 
* contact page with about me and social link sidebar
* -------------------------
*/
.page-node-1 p {
  font-size: 1.3vw;
  text-align: justify;
}
.page-node-1 .submitted {
  display: none;
}
.page-node-1 .webform-client-form {
  float: left;
  width: 100%;
  padding: 1.5vw 0 5vw;
}
.page-node-1 #main .content {
  padding: 1vw 2vw 0;
  max-width: calc(1300px + 4vw);
  margin: auto;
}
.node-1 {
  float: left;
  width: 70%;
}
.webform-component--email {
  margin-left: .5vw;
}
.webform-component--email,
.webform-component--full-name {
  float: left;
  width: calc(50% - .25vw);
}
.sidebar {
  float: left;
  width: 30%;
  font-size: 1.3vw;
  padding-right: 2.75vw;
}
.sidebar #social-bg {
  float: left;
  width: 100%;
  background: #efefef;
}
.sidebar ul {
  padding-top: 1vw;
}
.sidebar ul li {
  width: 100%;
  float: left;
}
.sidebar ul li a {
  width: 100%;
  float: left;
  display: table;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}
.sidebar ul li a:before {
  float: left;
  content: "";
  width: 25px;
  height: 25px;
  margin-right: 1vw;
  background: url(../images/icons.svg);
  background-size: 125px 50px;
  background-position: 0 0;
}
.sidebar ul li a.social-link {
  padding: 1.2vw;
  background: #efefef;
}
.sidebar ul li a:hover {
  border: 0;
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  transition: all 0s ease;
}
.sidebar ul li a#resume {
  margin-bottom: .5vw;
  text-align: center;
}
.sidebar ul li a#resume:before {
  margin-left: calc(50% - 12px);
  margin-right: calc(50% - 13px);
  margin-bottom: 5px;
  background-position: 0 0;
  background-position: 100% 0;
}
.sidebar ul li a#resume:hover {
  background: #4f7b84;
  color: #fff;
}
.sidebar ul li a#resume:hover:before {
  background-position: 100% 100%;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}
.sidebar ul li a#github:before {
  background-position: 0 0;
}
.sidebar ul li a#github:hover {
  background: #181818;
  color: #fff;
}
.sidebar ul li a#github:hover:before {
  background-position: 0 100%;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}
.sidebar ul li a#flickr:before {
  background-position: 25% 0;
}
.sidebar ul li a#flickr:hover {
  background: #0063dc;
  color: #fff;
}
.sidebar ul li a#flickr:hover:before {
  background-position: 25% 100%;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}
.sidebar ul li a#vimeo:before {
  background-position: 50% 0;
}
.sidebar ul li a#vimeo:hover {
  background: #45bbff;
  color: #fff;
}
.sidebar ul li a#vimeo:hover:before {
  background-position: 50% 100%;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}
.sidebar ul li a#instagram:before {
  background-position: 75% 0;
}
.sidebar ul li a#instagram:hover {
  background: #517fa4;
  color: #fff;
}
.sidebar ul li a#instagram:hover:before {
  background-position: 75% 100%;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}
span.platform {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  width: 100%;
}
#profile-photo {
  margin-top: 1.75vw;
}
/*
* admin.less begin
* administration elements and tools
* ==================================================
*/
/* 
* login screen
* -------------------------
*/
.page-user-login .tabs-primary,
.page-user-login .description {
  display: none;
}
#user-login {
  padding: 1em 0;
  margin: auto;
  width: 400px;
}
/* 
* display messages for all users
* -------------------------
*/
#messages {
  float: left;
  width: 100%;
  padding: 1em;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #fcfcfc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #ffffff 0%, #fcfcfc 100%);
  /* W3C */
}
#messages li {
  clear: both;
}
#messages .messages.status p {
  text-align: center;
  background: #68c06d;
  padding: 0 1em;
  margin: 0;
  float: left;
  width: 100%;
  color: #fff;
}
/* 
* primary and secondary administration tabs
* -------------------------
*/
.tabs-primary {
  float: left;
  width: 100%;
  padding: 0 0 1em 1.5em;
}
.tabs-primary ul {
  margin-bottom: 1em;
  float: left;
}
.tabs-primary li {
  float: left;
  padding: 0;
}
.tabs-primary li a {
  float: left;
  padding: .5em;
  background: #efefef;
  color: #4f7b84;
  border: 0;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}
.tabs-primary li a:hover {
  background: #4f7b84;
  color: #fff;
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  transition: all 0s ease;
}
/*
* article.less begin
* article content type styles
* ==================================================
*/
body.node-type-article {
  background: #181818;
}
/* 
* article titles
* -------------------------
*/
.node-article .node-title {
  float: left;
}
.node-article .node-title a {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.5vw;
  color: #000;
  overflow: hidden;
  position: relative;
  display: inline-block;
  outline: none;
  vertical-align: bottom;
  text-decoration: none;
}
.node-article .node-title a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  -webkit-transform: scaleY(0.5) translateX(-105%);
  transform: scaleY(0.5) translateX(-105%);
}
.node-article .node-title a::before,
.node-article .node-title a::after {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.node-article .node-title a:hover::before,
.node-article .node-title a:focus::before {
  -webkit-transform: scaleY(1) translateX(0);
  transform: scaleY(1) translateX(0);
}
.node-article .field-name-field-video {
  float: left;
  width: 100%;
  margin: .5em 0 0;
}
/* 
* field groups
* -------------------------
*/
.group-filters {
  float: left;
  width: 100%;
}
.group-filters .field-item {
  float: left;
  margin-right: 1vw;
}
.group-filters .field-item a {
  line-height: 2;
  text-transform: uppercase;
  color: #4f7b84;
  overflow: hidden;
  font-weight: 500;
  position: relative;
  display: inline-block;
  outline: none;
  vertical-align: bottom;
  text-decoration: none;
}
.group-filters .field-item a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #4f7b84;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  -webkit-transform: scaleY(0.5) translateX(-105%);
  transform: scaleY(0.5) translateX(-105%);
}
.group-filters .field-item a::before,
.group-filters .field-item a::after {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.group-filters .field-item a:hover::before,
.group-filters .field-item a:focus::before {
  -webkit-transform: scaleY(1) translateX(0);
  transform: scaleY(1) translateX(0);
}
.group-lefthalf,
.group-righthalf {
  float: left;
  width: 50%;
}
/* 
* article default full display mode
* -------------------------
*/
.node-article {
  float: left;
  width: 100%;
}
.node-type-article article {
  float: none;
  margin: auto;
  max-width: 1300px;
  padding-bottom: .75em;
}
.node-article.view-mode-full #article-header {
  padding: 0 18vw;
}
.node-article.view-mode-full #article-header .node-title {
  float: left;
}
.node-article.view-mode-full #article-header .submitted {
  float: right;
  font-size: 1.3vw;
  margin-top: .5em;
}
.node-article.view-mode-full p {
  font-size: 1.3vw;
  text-align: justify;
  padding: 0 18vw;
}
#article-filters {
  float: left;
  width: 100%;
  background: #181818;
  padding: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#article-filters .field-name-field-media-type,
#article-filters .field-name-field-tags {
  float: left;
}
#article-filters .group-filters {
  width: auto;
}
#article-filters .group-filters .field-item {
  margin-right: 1.5em;
}
#article-filters .group-filters .field-item a {
  color: #fff;
  font-size: 1.3em;
}
#article-filters .group-filters .field-item a::before {
  background: #fff;
}
ul.flippy {
  float: left;
  width: 100%;
}
ul.flippy li {
  padding: 0;
  margin: 0;
  float: left;
  width: 50%;
}
ul.flippy li a {
  color: #fff;
  background: #4f7b84;
  text-align: center;
  font-size: 1.3vw;
  padding: 1.5em;
  float: left;
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
ul.flippy li a:hover {
  background: #efefef;
  color: #000;
  -webkit-transition: all 0s ease-in-out;
  -moz-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}
ul.flippy li.prev {
  float: right;
}
/* 
* article teaser display mode
* -------------------------
*/
article {
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.node-article.node-teaser {
  position: relative;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #fcfcfc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #fcfcfc 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #ffffff 0%, #fcfcfc 100%);
  /* W3C */
}
.node-article.node-teaser .node-title {
  float: right;
  width: 50%;
  padding: 3.5vw 0 1vw 4vw;
}
.node-article.node-teaser .submitted {
  position: absolute;
  top: 2.75vw;
  right: 0;
  padding-right: 4.5vw;
  width: auto;
  text-transform: uppercase;
}
.node-article.node-teaser .field-name-body {
  float: left;
  width: 100%;
  text-align: justify;
  padding: 0 4vw;
}
.node-article.node-teaser .field-name-body p {
  margin: 0;
}
.node-article.node-teaser .field-name-field-image img {
  width: 100%;
  float: left;
}
.node-article.node-teaser .group-filters {
  position: absolute;
  bottom: 3.5vw;
  width: 50%;
  padding: 0 4vw;
  font-size: 1.1vw;
}
.node-article.node-teaser .node-readmore {
  position: absolute;
  padding: 0;
  margin: 0;
  bottom: 0;
  height: 100%;
  width: 50%;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.node-article.node-teaser .node-readmore a {
  opacity: 0;
  padding-top: 30%;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 4vw;
  font-weight: 900;
  text-transform: uppercase;
  float: left;
  border: 0;
}
.node-article.node-teaser .node-readmore:hover {
  background: rgba(255, 255, 255, 0.9);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.node-article.node-teaser .node-readmore:hover a {
  opacity: 1;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/*
* taxonomy.less begin
* taxonomy search result pages and content
* ==================================================
*/
/* 
* taxonomy pages
-------------------------
*/
.page-taxonomy #page-title {
  display: block;
  text-align: center;
  font-size: 3.5vw;
  text-transform: uppercase;
  background: #4f7b84;
  color: #fff;
  padding: 1.5vw;
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
  /* article teaser view mode */
  .node-article.node-teaser .node-title {
    padding: 1.5vw 0 .5vw 2vw;
  }
  .node-article.node-teaser .submitted {
    padding-right: 2.5vw;
    top: 1vw;
  }
  .node-article.node-teaser .field-name-body {
    padding: 0 2vw;
  }
  .node-article.node-teaser .field-name-body p {
    font-size: 1.3vw;
  }
  .node-article.node-teaser .group-filters {
    padding: 0 2vw;
    bottom: 2vw;
  }
  /* article default full view mode */
  .node-article.view-mode-full p {
    font-size: 1.5vw;
  }
  ul.flippy li a {
    font-size: 1.3em;
  }
  /* about page */
  .node-1 {
    width: 65%;
  }
  .sidebar {
    width: 35%;
  }
}
@media screen and (min-width: 1550px) {
  .node-article.view-mode-full p {
    padding: 0 20%;
  }
  .node-article.view-mode-full #article-header {
    padding: 0 20%;
  }
  ul.flippy li a {
    color: #4f7b84;
    background: #efefef;
    position: fixed;
    z-index: 2;
    top: calc(50% - 2em);
    padding: 1.5em;
    float: none;
    width: auto;
  }
  ul.flippy li a:hover {
    background: #4f7b84;
    color: #fff;
  }
  ul.flippy li.next a {
    left: -10vw;
  }
  ul.flippy li.next a.pager-visible {
    left: 0;
  }
  ul.flippy li.prev a {
    right: -10vw;
  }
  ul.flippy li.prev a.pager-visible {
    right: 0;
  }
}
@media screen and (min-width: 3000px) {
  .node-article.view-mode-full p {
    padding: 0 1em;
  }
  .node-article.view-mode-full #article-header {
    padding: 0 2.5em;
  }
}
@media screen and (min-width: 481px) and (max-width: 899px) {
  p.img {
    max-width: calc(104%);
    margin-left: -2em;
  }
  .group-lefthalf,
  .group-righthalf {
    width: 100%;
  }
  .pager .pager-current,
  .pager li a {
    padding: 4.5vw 3.5vw;
  }
  .pager-ellipsis {
    padding: 4.5vw 1vw;
  }
  #header {
    padding: 1em 0;
  }
  #logo {
    width: 100%;
    height: auto;
    font-size: 2em;
    line-height: 1;
  }
  .front #header {
    margin: 0;
  }
  /* article teaser view mode */
  .node-article.node-teaser .node-title {
    width: 100%;
    padding: 3vw;
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.9);
  }
  .node-article.node-teaser .node-title a {
    font-size: 5vw;
  }
  .node-article.node-teaser .submitted,
  .node-article.node-teaser .field-name-body {
    display: none;
  }
  .node-article.node-teaser .group-filters {
    float: left;
    width: 100%;
    padding: 2vw 3vw;
    left: 0;
    bottom: 0;
    background: rgba(24, 24, 24, 0.8);
  }
  .node-article.node-teaser .group-filters a {
    font-size: 2.75vw;
    margin-right: 3vw;
    color: #fff;
  }
  .node-article.node-teaser .group-filters a::before {
    background: #fff;
  }
  .node-article.node-teaser .node-readmore {
    display: none;
  }
  /* article default full view mode */
  .node-article.view-mode-full p {
    font-size: 2.2vw;
    padding: 1em 9vw;
  }
  .node-article.view-mode-full #article-header {
    padding: 0 9vw;
  }
  .node-article.view-mode-full #article-header .node-title a {
    font-size: 4.5vw;
  }
  .node-article.view-mode-full #article-header .submitted {
    font-size: 2vw;
    margin: 1em 0 0;
  }
  #article-filters .group-filters .field-item a {
    font-size: 1.2em;
  }
  #article-filters .field-name-field-media-type,
  #article-filters .field-name-field-tags {
    float: none;
  }
  ul.flippy li a {
    font-size: 1.2em;
  }
  /* about and contact page */
  #me {
    display: none;
  }
  #about {
    padding: 3em 3vw;
  }
  #about p {
    font-size: 3.5vw;
    line-height: 1.5;
  }
  .node-1 {
    width: 65%;
  }
  .sidebar {
    width: 35%;
  }
  .sidebar ul li a:before {
    width: 18px;
    height: 18px;
    background-size: 90px 36px;
  }
  .webform-component--email,
  .webform-component--full-name {
    width: 100%;
    margin: 0 0 0.5vw;
  }
  /* taxonomy pages */
  .page-taxonomy #page-title {
    font-size: 6vw;
    padding: 3vw;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #header {
    background: url(../images/headerx2.jpg) center;
  }
}
@media screen and (max-width: 480px) {
  input,
  button,
  textarea {
    font-size: 1em;
    padding: 1em;
    margin-bottom: .25em;
  }
  p.img {
    max-width: calc(100% + 4em);
    margin-left: -2em;
  }
  .group-lefthalf,
  .group-righthalf {
    width: 100%;
  }
  .pager {
    float: left;
    width: 100%;
  }
  .pager li {
    display: none;
  }
  .pager li a {
    padding: 6vw;
  }
  .pager li.pager-next,
  .pager li.pager-previous {
    display: block;
    padding: 0;
  }
  .pager li.pager-next {
    float: right;
  }
  .pager li.pager-current {
    display: none;
  }
  #header {
    padding: 1em 0;
    text-align: center;
  }
  #logo {
    width: 100%;
    height: auto;
    font-size: 1.5em;
    line-height: 1;
    letter-spacing: -1px;
  }
  .front #header {
    margin: 0;
  }
  /* about front page section */
  #me {
    display: none;
  }
  #about {
    padding: 2em 3vw;
  }
  #about p {
    font-size: 1em;
    line-height: 1.5;
  }
  /* article teaser view mode */
  .node-article.node-teaser .node-title {
    width: 100%;
    padding: 3vw;
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.9);
  }
  .node-article.node-teaser .node-title a {
    font-size: 6vw;
  }
  .node-article.node-teaser .submitted,
  .node-article.node-teaser .field-name-body {
    display: none;
  }
  .node-article.node-teaser .node-readmore,
  .node-article.node-teaser .group-filters {
    display: none;
  }
  /* article default full view mode */
  .node-article.view-mode-full #article-header {
    padding: 0 1.5em;
  }
  .node-article.view-mode-full #article-header .node-title a {
    float: left;
    width: 100%;
    font-size: 1.2em;
  }
  .node-article.view-mode-full #article-header .submitted {
    display: none;
  }
  .node-article.view-mode-full p {
    font-size: 1.1em;
    padding: 1em 1.5em;
  }
  #article-filters .group-filters {
    width: 100%;
  }
  #article-filters .group-filters .field-item {
    float: left;
    width: 100%;
  }
  #article-filters .group-filters .field-item a {
    font-size: 1em;
  }
  #article-filters .field-name-field-media-type,
  #article-filters .field-name-field-tags {
    float: none;
  }
  ul.flippy li a {
    font-size: 1em;
  }
  /* about and contact page */
  .page-node-1 p {
    font-size: 1em;
    padding: 0 10%;
  }
  .page-node-1 #main .content {
    max-width: 100%;
    padding: 4vw 0 0;
  }
  .page-node-1 .sidebar {
    display: none;
  }
  .page-node-1 .node-1 {
    width: 100%;
  }
  .page-node-1 .webform-client-form {
    padding: 1em 10% 4em;
  }
  .page-node-1 .webform-component--email,
  .page-node-1 .webform-component--full-name {
    width: 100%;
    margin: 0 0 0.5vw;
  }
  /* taxonomy pages */
  .page-taxonomy #page-title {
    font-size: 7vw;
    padding: 4vw;
  }
}
