/*
* base.less begin
* page structure and formatting styles
* ==================================================
*/

/* 
* base Formatting
* -------------------------
*/
*,
*:after,
*:before{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  padding: 0;
  margin: 0;
}
html,
body{
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing:subpixel-antialiased;
  -moz-font-smoothing:subpixel-antialiased;
  font-smoothing:subpixel-antialiased;
  text-rendering:optimizeLegibility;
  font-smooth:always;
  font-family: 'Lato', sans-serif;
  background: #fff;
}
label{
  display: none;
}
img{
  max-width: 100%;
  height: auto;
  float: left;
}
ul{
  list-style: none;
  padding: 0;
  li{
    margin: auto;
    list-style: none;
    float: left;
  }
}
::-webkit-input-placeholder{
  color: #4f7b84;
}
::-moz-placeholder{
  color: #4f7b84;
}
:-ms-input-placeholder{  
  color: #4f7b84;
}
input,
button,
textarea{
  outline: 0;
  width: 100%;
  border: 0px;
  padding: 1vw;
  font-size: 1.2vw;
  background: #efefef;
  font-family: 'Lato', sans-serif;
  -webkit-appearance: none;
  border-radius: 0;
  line-height: 1.5;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}
input[type='submit']{
  color: #fff;
  background: #68c06d;
  &:hover{
    background: #44b94a;
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    transition: all 0s ease;
  }
}
.form-item{
  margin: 0 0 .5vw 0;
}
.form-textarea:hover,
.form-item input:hover,
.webform-component input:hover{
  background: #f7f7f7;
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  transition: all 0s ease;
}
.resizable-textarea .grippie{
  display: none;
}

/* 
* text formatting
* -------------------------
*/
p{
  font-size: 1.2vw;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #333;
  line-height: 2;
  float: left;
  width: 100%;
  margin: 1vw 0;
}
a{
  color: #4f7b84;
  text-decoration: none;
  &.highlight{
    color: #e74c3c;
  }
  &:focus{
    outline: 0;
  }
}
h1{
  font-size: 4vw;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: #333;
  margin: 0;
  padding: .5em 0 0;
}
h2{
  margin: 0;
}
.field-name-body,
.field-name-field-body{
  a:not(.exempt){
    color: #4f7b84;
    overflow: hidden;
    font-weight: 500;
    position: relative;
    display: inline-block;
    outline: none;
    vertical-align: bottom;
    text-decoration: none;
    word-spacing: .25em;
    margin-right: .2em;
    &::before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 1px;
      background: #4f7b84;
      -webkit-transition: -webkit-transform 0.2s;
      transition: transform 0.2s;
      -webkit-transform: scaleY(.5) translateX(-105%);
      transform: scaleY(.5) translateX(-105%);
    }
    &::before,
    &::after{
      pointer-events: none;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    &:hover::before,
    &:focus::before{
      -webkit-transform: scaleY(1) translateX(0);
      transform: scaleY(1) translateX(0);
    }
  }
}

/* 
* structural containers
* -------------------------
*/
#site{
  z-index: 10;
  float: left;
  width: 100%;
  background: #fff;
}
#header{
  width: 100%;
  float: left;
  background: url(../images/header.jpg) center;
  padding: 2em 0;
  margin-bottom: 1.5em;
  .wrapper{
    padding: 0 2em;
  }
}
#logo{
  width: 152px;
  height: 87px;
  color: #fff;
  font-family: 'Lato';
  font-weight: 900;
  font-size: 56px;
  text-transform: uppercase;
  letter-spacing: -2px;
  line-height: .8;
  float: left;
  a{
    position: relative;
    transform-origin: left;
    text-shadow: 0 0 15px rgba(0,0,0,.3);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
    &:hover{
      border: 0;
      -moz-transform: scale(1.02);
      -webkit-transform: scale(1.02);
      transform: scale(1.02);
      -webkit-transition: all 0s ease;
      -moz-transition: all 0s ease;
      transition: all 0s ease;
    }
  }
}

/* 
* pagers
* -------------------------
*/
.item-list{
  float: left;
  width: 100%;
}
.pager{
  float: right;
  width: auto;
  text-transform: capitalize;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #fcfcfc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fcfcfc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#fcfcfc 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#fcfcfc 100%); /* W3C */
  li{
    float: left;
    &.pager-current{
      background: #4f7b84;
      color: #fff;
    }
    a{
      display: block;
      padding: 1.5em;
      float: left;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      transition: all .2s ease;
      &:hover,
      &:active{
        border: 0;
        color: #fff;
        background: #4f7b84;
        -webkit-transition: all 0s ease;
        -moz-transition: all 0s ease;
        transition: all 0s ease;
      }
    }
  }
  .pager-current{
    display: block;
    padding: 1.5em;
    float: left;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
  }
}
.pager-next,
.pager-previous{
  display: none;
}
.pager-ellipsis{
  padding: 1.5em .5em;
  color: #4f7b84;
}