#header{
  width: 100%;
  display: block;
  #header-container{
    width: 100%;
    height: calc(50vw - .9375rem);
    display: flex;
    flex-direction: column;
    position: relative;
    background: #fff;
    overflow: hidden;
  }

  // Banner image
  #header-image{
    width: 66.66666%;
    height: 50vw;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    #headshot{
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
    }
    #logo{
      width: 33.25vw;
      z-index: 5;
      margin-left: 8vw;
      animation: fadeFromLeft 1.5s ease-in-out;
    }
  }

  // About me and more info link
  #header-content{
    width: 50%;
    height: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    animation: fadeFromRight 1.5s ease-in-out;
    p{
      font-size: 1.3vw;
      padding: 6rem 10vw 0;
    }
    .button{
      margin: 3.25rem 0 0;
      font-size: 1.2rem;
      padding: .75rem 2.5rem;
      @include button;
    }
  }
}

// Begin responsive work
// --------------------------------------------------

@media #{$large}{
  #header{
    flex-direction: column;
    #header-container{
      height: auto;
    }
    #header-image,
    #header-content{
      position: relative;
      height: auto;
      width: 100%;
    }
    #header-image{
      padding: 1rem 2rem;
      background: $crimson;
      #logo{
        margin: 0;
        width: 80px;
      }
      #headshot{
        display: none;
      }
    }
    #header-content{
      padding: 2rem;
      p{
        font-size: 1rem;
        padding: 0;
      }
      .button{
        margin: 1.5rem 0 0;
      }
    }
  }
}

@media #{$medium}{
  #header{
    flex-direction: column;
    #header-container{
      height: auto;
    }
    #header-image,
    #header-content{
      position: relative;
      height: auto;
      width: 100%;
    }
    #header-image{
      padding: 1rem 2rem;
      background: $crimson;
      #logo{
        margin: 0;
        width: 80px;
      }
      #headshot{
        display: none;
      }
    }
    #header-content{
      padding: 2rem;
      p{
        font-size: 1rem;
        padding: 0;
      }
      .button{
        margin: 1.5rem 0 0;
      }
    }
  }
}

@media #{$small}{
  #header{
    flex-direction: column;
    #header-container{
      height: auto;
    }
    #header-image,
    #header-content{
      position: relative;
      height: auto;
      width: 100%;
    }
    #header-image{
      padding: 1rem;
      background: $crimson;
      #logo{
        margin: 0;
        width: 50px;
      }
      #headshot{
        display: none;
      }
    }
    #header-content{
      padding: 2rem 1rem;
      p{
        font-size: 1rem;
        padding: 0;
      }
      .button{
        margin: 2rem 0 0;
      }
    }
  }
}
