// Global header
#header{
  float: left;
  width: 100%;

  // Container
  #header-container{
    float: left;
    height: 50vw;
    width: 100%;
    position: relative;
    background: #fff;
    overflow: hidden;
  }

  // Profile
  #profile{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 66.66666%;
    height: 50vw;
    display: flex;
    align-items: center;
  }
  #headshot{
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  #logo{
    z-index: 5;
    width: 33vw;
    margin-left: 8.75vw;
  }

  // Slice marks
  #slice{
    position: absolute;
    z-index: 2;
    left: 38vw;
    top: 0;
    width: 66.66667%;
    height: 50vw;

    &:before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      border-top: 0px solid transparent;
      border-left: 22.5vw solid transparent;
      border-right: 0px solid transparent;
      border-bottom: 50vw solid #fff;
      height: 0;
      width: 0;
    }
  }

  // Intro
  #intro{
    position: absolute;
    z-index: 3;
    right: 0;
    top: 0;
    width: 40%;
    height: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    .content{
      padding: 0 10vw 0 0;
      text-align: justify;
      p{
        color: $dark;
        font-size: 1.3vw;
        line-height: 2.2;
      }
    }
  }
  #learn-more{
    position: absolute;
    bottom: 22.5%;
    right: calc(50% - 5.25rem);
    margin-right: 5vw;
    @include cta;
  }
}
