#nav{
  float: left;
  width: 100%;
  clear: both;
  padding: 2rem 0;
  background: $crimson;
  #home{
    float: left;
    width: 110px;
  }
  #block-system-main-menu{
    padding: 1rem 0;
    float: right;
  }
  li{
    @include tags;
    margin-right: 2rem;
    a{
      color: #fff;
      &:before{
        background: #fff;
      }
    }
    &:first-child{
      margin-left: 0;
    }
  }
}