#nav{
  float: left;
  width: 100%;
  clear: both;
  padding: 2rem 0;
  background: $crimson;
  #home{
    float: left;
    width: 110px;
  }
  #block-system-main-menu{
    padding: 1rem 0;
    float: right;
  }
  li{
    @include tags;
    margin-right: 2rem;
    a{
      color: #fff;
      &:before{
        background: #fff;
      }
    }
    &:first-child{
      margin-left: 0;
    }
  }
}

@media #{$medium}{
  #nav{
    li{
      margin-right: 1rem;
    }
  }
}

@media #{$small}{
  #nav{
    padding: 0;
    #home{
      margin: 2rem auto;
    }
    li{
      margin: 0 1rem;
    }
    #block-system-main-menu{
      padding: 2rem 0;
      float: right;
      width: calc(100% + 4rem);
      left: 2rem;
      background: $midnight;
    }
    .menu{
      display: flex;
      justify-content: center;
    }
  }
}