// Full width section
.full{
  @include full;
}

// Site container
.container-lg{
  @include container-lg;
}

// Inner content
.container-sm{
  @include container-sm;
}

// Group center align
.center{
  display: flex;
  justify-content: center;
}

// Ajax throbber
.ajax-progress{
  display: none;
}

// Tabs
.tabs-primary{
  width: 100%;
  display: flex;
  justify-content: center;
  background: $midnight;
  li{
    float: left;
    display: inline-block;
    a{
      float: left;
      color: #fff;
      padding: .75rem 1rem;
      background: $midnight;
      transition: all .2s cubic-bezier(0.5, 0, 0, 1);
      &:focus,
      &:hover{
        background: $cyan;
        transition: all 0s cubic-bezier(0.5, 0, 0, 1);
      }
      &.active{
        background: $cyan;
      }
    }
  }
}

// Messages
.messages{
  @include full;
  color: #fff;
  font-size: 16px;
  padding: 1rem;
  text-align: center;
  &.status{
    background: $success;
  }
  &.warning{
    color: #fff;
    background: $warning;
  }
  &.error{
    color: #fff;
    background: $error;
  }
  p{
    color: #fff;
    width: 100%;
    font-size: 16px;
    text-align: center;
  }
  a{
    color: #fff;
    text-decoration: underline;
  }
}

// User Login Page
.page-user-login{
  height: 100vh;
  #user-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 0 2rem;
    & > div{
      max-width: 27rem;
    }
    input{
      text-align: center;
    }
  }
  label,
  .description{
    display: none;
  }
}
