// Fade in from top
@keyframes fadeIn{
  0%{
    position: relative;
    opacity: 0;
    top: -1rem;
  }
  100%{
    position: relative;
    opacity: 1;
    top: 0;
  }
}

// Fade in from left
@keyframes fadeFromLeft{
  0%{
    position: relative;
    opacity: 0;
    left: -1rem;
  }
  100%{
    position: relative;
    opacity: 1;
    left: 0;
  }
}

// Fade in from right
@keyframes fadeFromRight{
  0%{
    opacity: 0;
    right: -.5rem;
  }
  100%{
    opacity: 1;
    right: 0;
  }
}
