// Site slim container
@mixin container{
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}
.container{
  @include container;
}

// Call to action large buttons
@mixin button{
  float: left;
  border-radius: 43px;
  color: #fff;
  background: $cyan;
  text-transform: uppercase;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1);
  &:hover,
  &:focus{
    background: $crimson;
    box-shadow: inset 0px 0px 0px 2px rgba(23,23,26,.25);
    transition: none;
  }
}

// Custom title behavior
@mixin title{
  @media #{$xlarge-up}{
    font-weight: 900;
    overflow: hidden;
    position: relative;
    display: inline-block;
    line-height: 1;
    z-index: 10;
    vertical-align: bottom;
    &:before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 105%;
      height: 3px;
      background: $midnight;
      transition: transform 0.2s cubic-bezier(0.5, 0, 0, 1);
      transform: scaleY(1) translateX(-105%);
    }
    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 105%;
      height: 3px;
      background: transparent;
    }
    &:hover:before,
    &:focus:before{
      transform: scaleY(1) translateX(0);
    }
  }
}

// Custom link behavior
@mixin link{
  overflow: hidden;
  position: relative;
  display: inline-block;
  z-index: 10;
  vertical-align: bottom;
  &:before{
    content: '';
    position: absolute;
    bottom: .4em;
    left: 0;
    z-index: -1;
    width: 105%;
    height: 2px;
    background: $midnight;
    transition: transform 0.2s cubic-bezier(0.5, 0, 0, 1);
    transform: scaleY(1) translateX(-105%);
  }
  &:after{
    content: '';
    position: absolute;
    bottom: .4em;
    left: 0;
    z-index: -2;
    width: 105%;
    height: 2px;
    background: #c0c0cc;
  }
  &:hover:before,
  &:focus:before{
    transform: scaleY(1) translateX(0);
  }
}

// Custom tag behavior
@mixin tags{
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
  display: inline-block;
  line-height: 2;
  z-index: 10;
  vertical-align: bottom;
  &:before{
    content: '';
    position: absolute;
    bottom: .4em;
    left: 0;
    width: 105%;
    height: 2px;
    background: $midnight;
    transition: transform 0.2s cubic-bezier(0.5, 0, 0, 1);
    transform: scaleY(1) translateX(-105%);
  }
  &:after{
    content: '';
    position: absolute;
    bottom: .4em;
    left: 0;
    width: 105%;
    height: 2px;
    background: transparent;
  }
  &:hover:before,
  &:focus:before{
    transform: scaleY(1) translateX(0);
  }
}
