// Reset padding for all elements
*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

// Set initals for the document
html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

// Set initals for the body
body{
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  text-rendering:optimizeLegibility;
}

// Force all images to be responsive
img{
  max-width: 100%;
  height: auto;
  float: left;
}

// Correct admin menu display
#admin-menu{
  box-shadow: none;
  ul {
    font-size: 11px;
  }
  a{
    font-size: 11px;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  }
}

// Removing outline on focus inherited by browsers
:focus,
a:focus{
  outline: 0;
}

// Hiding Drupal invisible elements and loading gifs
.element-invisible,
.ajax-progress{
  display: none;
}

// Begin responsive styles
// --------------------------------------------------

@media #{$xlarge-up}{
  .hide-for-xlarge-up{
    display: none;
  }
}
@media #{$xlarge}{
  .hide-for-xlarge{
    display: none;
  }
}
@media #{$large-up}{
  .hide-for-large-up{
    display: none;
  }
}
@media #{$large}{
  .hide-for-large{
    display: none;
  }
}
@media #{$medium-up}{
  .hide-for-medium-up{
    display: none;
  }
}
@media #{$medium}{
  .hide-for-medium{
    display: none;
  }
}
@media #{$small}{
  .hide-for-small{
    display: none;
  }
}