// Reset padding for all elements
*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

// Set initals for the document
html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

// Set initals for the body
body{
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  text-rendering:optimizeLegibility;
}

// Force all images to be responsive
img{
  max-width: 100%;
  height: auto;
  float: left;
}

// Removing outline on focus inherited by browsers
:focus,
a:focus{
  outline: 0;
}

// Hiding Drupal invisible elements and ajax loading gifs
.element-invisible,
.ajax-progress{
  display: none;
}

// Correct admin menu display
#admin-menu{
  box-shadow: none;
  ul {
    font-size: 11px;
  }
  a{
    font-size: 11px;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  }
}

// Defining Drupal message theming
.messages{
  float: left;
  width: 100%;
  color: #fff;
  font-size: 16px;
  padding: 1rem;
  text-align: center;
  &.status{
    background: $success;
  }
  &.warning{
    color: #fff;
    background: $warning;
  }
  &.error{
    color: #fff;
    background: $error;
  }
  p{
    color: #fff;
    width: 100%;
    font-size: 16px;
    text-align: center;
  }
  a{
    color: #fff;
    text-decoration: underline;
  }
}

// Defining Drupal admin tabs
.tabs-primary{
  width: 100%;
  display: flex;
  justify-content: center;
  background: $midnight;
  li{
    float: left;
    display: inline-block;
    a{
      float: left;
      color: #fff;
      padding: .75rem 1rem;
      background: $midnight;
      transition: all .2s cubic-bezier(0.5, 0, 0, 1);
      &:focus,
      &:hover{
        background: $cyan;
        transition: all 0s cubic-bezier(0.5, 0, 0, 1);
      }
      &.active{
        background: $cyan;
      }
    }
  }
}
