// Body text
p{
  float: left;
  width: 100%;
  font-size: 1.2vw;
  font-weight: 400;
  color: $midnight;
  line-height: 2;
}

// Anchor tags
a{
  color: $violet;
  text-decoration: none;
}

// Ordered and unordered lists
ul,
ol{
  padding: 0;
  li{
    display: inline-block;
    list-style: none;
  }
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
  padding: 0 0 .5em;
  color: $midnight;
  font-weight: 900;
  line-height: 1;
}
h1{
  font-size: 4vw;
  padding: .5em 0 0;
}

// Inputs
input,
textarea{
  border: 0;
  outline: 0;
  padding: 1vw;
  font-size: 1.2vw;
  -webkit-appearance: none;
  transition: all .5s cubic-bezier(0.75, 0, 0.1, 1);
  &:focus,
  &:hover{
    transition: all .2s cubic-bezier(0.75, 0, 0.1, 1);
  }
}
button,
textarea,
input[type='text'],
input[type='email']{
  float: left;
  width: 100%;
  font-size: 1.2vw;
  border-bottom: 2px solid #e7e7e7;
  transition: all .2s cubic-bezier(0.75, 0, 0.1, 1);
  box-shadow: none;
  padding: 1em;
  &:focus{
    position: relative;
    background: #fafafa;
    transition: background .2s cubic-bezier(0.75, 0, 0.1, 1);
  }
}
input[type='submit']{
  margin-top: 1rem;
  font-size: 1.2vw;
  padding: .75rem 2.5rem;
  border-radius: 43px;
  color: #fff;
  background: $cyan;
  text-transform: uppercase;
  transition: none;
  &:hover,
  &:focus{
    background: linear-gradient(-45deg, $violet 0%, $crimson 100%);
    transition: none;
  }
}
.webform-component-textarea .grippie{
  display: none;
}
.form-actions{
  display: flex;
  width: 100%;
  justify-content: center;
}

// Body anchor tags
.field-name-body,
.field-name-field-body{
  a{
    color: $violet;
    overflow: hidden;
    font-weight: 500;
    position: relative;
    display: inline-block;
    outline: none;
    vertical-align: bottom;
    text-decoration: none;
    &:before{
      content: '';
      position: absolute;
      bottom: .4rem;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 2px;
      background: $crimson;
      transition: transform 0.2s cubic-bezier(0.5, 0, 0, 1);
      transform: scaleY(1) translateX(-105%);
    }
    &:hover:before,
    &:focus:before{
      transform: scaleY(1) translateX(0);
    }
  }
}