// Body text
p{
  font-size: 1rem;
  line-height: 2;
  font-weight: 400;
  color: $midnight;
  text-align: justify;
  a{
    @include link;
  }
}

// Global anchor tags
a{
  color: $midnight;
  text-decoration: none;
}

// Ordered and unordered lists
ul:not(.contextual-links),
ol{
  padding: 0;
  li{
    display: inline-block;
    list-style: none;
  }
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
  padding: 0 0 .5em;
  color: $midnight;
  font-weight: 900;
  line-height: 1;
}
h1{
  font-size: 4vw;
  padding: .5em 0 0;
}

// Inputs
::-webkit-input-placeholder{
  color: #c7c7c7;
}
::-moz-placeholder{
  color: #c7c7c7;
}

input,
textarea{
  border: 0;
  outline: 0;
  padding: 1vw;
  font-size: 1rem;
  color: $midnight;
  -webkit-appearance: none;
  transition: all .5s cubic-bezier(0.75, 0, 0.1, 1);
  &:focus,
  &:hover{
    transition: all .2s cubic-bezier(0.75, 0, 0.1, 1);
  }
}
button,
textarea,
input[type='text'],
input[type='email'],
input[type='password']{
  @include full;
  font-size: 1rem;
  border-bottom: 2px solid #e7e7e7;
  transition: all .2s cubic-bezier(0.75, 0, 0.1, 1);
  box-shadow: none;
  padding: 1em;
  &:focus{
    position: relative;
    background: #fafafa;
    transition: background .2s cubic-bezier(0.75, 0, 0.1, 1);
  }
}
input[type='submit']{
  margin-top: 1rem;
  font-size: 1rem;
  padding: .75rem 2.5rem;
  border-radius: 43px;
  color: #fff;
  background: $cyan;
  text-transform: uppercase;
  transition: all .2s cubic-bezier(0.75, 0, 0.1, 1);
  &:hover,
  &:focus{
    background: $crimson;
    transition: none;
    box-shadow: inset 0px 0px 0px 2px rgba(23,23,26,.25);
  }
}
.webform-component-textarea .grippie{
  display: none;
}
.form-actions{
  display: flex;
  width: 100%;
  justify-content: center;
}
