// Article nodes
.node-type-article{

  // Node embeded video
  #node-video{
    background: $midnight;
  }

  // Node title and date
  #node-header{
    padding: 0 0 .75rem;

    h1{
      float: left;
      padding: 1rem 0 0;
      font-size: auto;
      @include title;
    }
    .submitted{
      float: right;
      padding: 2vw 0 0;
    }
  }

  // Node body contents
  #node-content{
    overflow-x: hidden;

    // Photo display
    .photo-container{
      margin: 1rem 0;
      position: relative;
      &:before{
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        width: 800vw;
        left: -400%;
        background: $midnight;
      }
      img{
        width: auto;
        max-width: 100%;
        max-height: 90vh;
      }
    }

    // Content display
    .field-name-body{
      .field-item{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    p{
      max-width: 720px;
      padding: 1rem 0;
    }
  }

  // Node filters
  #node-filters{
    @include full;
    padding: 2em;
    margin: 1rem 0 0;
    display: flex;
    justify-content: center;
    background: $midnight;
    .field-items{
      float: left;
    }
    .field-item{
      @include tags;
      display: inline-block;
      a{
        color: #fff;
        margin: 0 1rem 0 0;
        &:before{
          background: #fff;
        }
      }
    }
  }
}

// Begin responsive work
// --------------------------------------------------

@media #{$large}{
  .node-type-article{
    #node-header{
      h1{
        font-size: 2.25rem;
      }
      .submitted{
        padding-top: 1.6rem;
      }
    }
  }
}

@media #{$medium}{
  .node-type-article{
    #node-header{
      h1{
        font-size: 2rem;
        width: 100%;
        clear: both;
      }
      .submitted{
        float: left;
      }
    }
  }
}

@media #{$small}{
  .node-type-article{
    #node-header{
      h1{
        font-size: 1.75rem;
        width: 100%;
        clear: both;
      }
      .submitted{
        float: left;
        font-size: .8rem;
      }
    }
  }
}