// Article nodes
.node-type-article{

  // Node embeded video
  #node-video{
    background: $midnight;
  }

  // Node title and date
  #node-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 720px;
    margin: 2rem auto .5rem;
    .node-title{
      @include title;
      font-size: 35px;
      text-transform: uppercase;
    }
  }

  // Node body contents
  #node-content{
    overflow-x: hidden;
    .field-name-body{
      .field-item{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    p{
      max-width: 720px;
      padding: 1rem 0;
    }
    .photo-container{
      margin: 1rem 0;
      position: relative;
      &:before{
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        width: 800vw;
        left: -400%;
        background: $midnight;
      }
      img{
        width: auto;
        max-width: 100%;
        max-height: 90vh;
      }
    }
  }

  // Node filters
  #node-filters{
    float: left;
    width: 100%;
    padding: 2em;
    margin: 1rem 0 0;
    background: $midnight;
    .container{
      display: flex;
      justify-content: center;
      align-content: center;
    }
    .field-item{
      float: left;
    }
    a{
      @include tags;
      color: #fff;
      margin-right: 1rem;
      text-transform: uppercase;
      &:before{
        background: #fff;
      }
    }
  }
}

// Begin responsive work
// --------------------------------------------------

@media #{$medium}{
  .node-type-article{

    // Node title and date
    #node-header{
      padding: 0 2rem;
      .node-title{
        font-size: 30px;
      }
    }

    // Node body contents
    #node-content{
      p{
        padding: 1rem 2rem;
      }
    }
  }
}

@media #{$small}{
  .node-type-article{

    // Node title and date
    #node-header{
      padding: 0 2rem;
      .node-title{
        font-size: 25px;
      }
    }

    // Node body contents
    #node-content{
      p{
        padding: 1rem 2rem;
      }
    }
  }
}