// Article nodes
.node-type-article{

  // Node embeded video
  #node-video{
    background: $midnight;
  }

  // Node title and date
  #node-header{
    padding: 0 0 1rem;

    h1{
      float: left;
      padding: 0;
      @include title;
    }
    .submitted{
      float: right;
      padding: 2vw 0 0;
    }
  }

  // Node body contents
  #node-content{
    overflow-x: hidden;

    // Photo display
    .photo-container{
      @include full;
      margin: 1rem 0;
      position: relative;
      &:before{
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        width: 150vw;
        left: -50%;
        background: $midnight;
      }
      img{
        max-height: 90vh;
      }
    }

    // Content display
    .field-name-body{
      .field-item{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    p{
      max-width: 720px;
      padding: 1rem 0;
    }
  }

  // Node filters
  #node-filters{
    @include full;
    padding: 2em 0;
    margin: 1rem 0 0;
    background: $midnight;
    .field-items{
      float: left;
    }
    .field-item{
      @include tags;
      display: inline-block;
      a{
        color: #fff;
        margin: 0 1rem 0 0;
        &:before{
          background: #fff;
        }
      }
    }
  }
}