#block-menu-menu-social-media{
  background: $violet;
  padding: 1rem;
  .menu{
    display: flex;
    justify-content: center;
    max-width: 720px;
    margin: auto;
    a{
      float: left;
      color: #c0c0cc;
      padding: 1rem;
      &:focus,
      &:hover{
        color: #fff;
        &:before{
          background-position: 0 100%;
        }
      }
      &:before{
        float: left;
        content: "";
        width: 16px;
        height: 16px;
        margin: 2px 6px 0 0;
        background: url(../assets/images/icons.svg);
        background-size: 80px 32px;
        background-position: 0 0;
      }
    }
  }
}