// Social media links
#block-menu-menu-social-media{
  background: $violet;
  padding: 1rem;
  .menu{
    display: flex;
    justify-content: center;
    max-width: 720px;
    margin: auto;
    a{
      float: left;
      color: #c0c0cc;
      padding: 1rem;
      transition: all .2s cubic-bezier(0.75, 0, 0.1, 1);
      &:focus,
      &:hover{
        color: #fff;
        transition: none;
      }
    }
  }
}

// Flippy content pager
.flippy{
  position: relative;
  z-index: 500;
  .flippy-nav{
    position: absolute;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,.8);
  }
  li{
    position: fixed;
    top: calc(50vh - 30px);
    width: 80px;
    a{
      float: left;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      text-transform: uppercase;
      background: rgba(255,255,255,.8);
      color: $midnight;
      font-weight: 900;
      position: relative;
      &:before{
        background: $midnight;
        color: #fff;
        position: absolute;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 100%;
      }
      &:hover:before{
        opacity: 0;
      }
    }
  }
  .next{
    left: -80px;
    transition: all .2s cubic-bezier(0.5, 0, 0, 1);
    &:hover{
      left: 0;
      transition: all .2s cubic-bezier(0.5, 0, 0, 1);
    }
    a{
      &:before{
        content:'<';
        right: -30px;
      }
    }
  }
  .prev{
    right: -80px;
    transition: all .2s cubic-bezier(0.5, 0, 0, 1);
    &:hover{
      right: 0;
      transition: all .2s cubic-bezier(0.5, 0, 0, 1);
    }
    a{
      &:before{
        content:'>';
        left: -30px;
      }
    }
  }
}
