// Site container
.container{
  margin: 0 auto;
  max-width: 1300px;
}

// Tabs
.tabs:not(ul){
  margin: 0 auto;
  padding: 0 18vw;
  max-width: 1300px;
}
ul.tabs{
  float: left;
  width: 100%;
  clear: both;
  li{
    float: left;
    display: inline-block;
    a{
      float: left;
      color: #fff;
      padding: .75rem 1rem;
      background: $midnight;
      transition: all .2s cubic-bezier(0.5, 0, 0, 1);
      &:focus,
      &:hover{
        background: $cyan;
        transition: all 0s cubic-bezier(0.5, 0, 0, 1);
      }
      &.active{
        background: $cyan;
      }
    }
  }
}

// Messages
.messages{
  float: left;
  width: 100%;
  padding: 1rem;
  background: $midnight;
  color: $peach;
  a{
    color: $peach;
    text-decoration: underline;
  }
  &.error{
    background: $crimson;
    color: #fff;
    a{
      color: #fff;
      text-decoration: underline;
    }
  }
}

// Pagers
.item-list{
  float: left;
  width: 100%;
  background: $midnight;
}
.pager{
  float: right;
  width: auto;
  font-size: 1em;
  line-height: 1;
  text-transform: capitalize;
  background: $midnight;
  li{
    float: left;
    &.pager-current{
      background: $cyan;
      color: #fff;
    }
    a{
      display: block;
      padding: 1.5em;
      color: #fff;
      float: left;
      transition: all .2s cubic-bezier(0.5, 0, 0, 1);
      &:hover,
      &:active{
        border: 0;
        color: #fff;
        background: $crimson;
        transition: all 0s cubic-bezier(0.5, 0, 0, 1);
      }
    }
  }
  .pager-current{
    display: block;
    padding: 1.5em;
    float: left;
    transition: all .2s cubic-bezier(0.5, 0, 0, 1);
  }
}
.pager-next,
.pager-previous{
  display: none;
}
.pager-ellipsis{
  padding: 1.5em .5em;
  color: #fff;
}

// User Login Page
.page-user-login{
  background: $gradient;
  #user-login{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: columns;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s cubic-bezier(0.5, 0, 0, 1);
    & > div{
      max-width: 25rem;
    }
    label,
    .description{
      display: none;
    }
  }
}

// Content pagers
.flippy{
  position: relative;
  z-index: 500;
  img{
    height: 80px;
    width: auto;
  }
  .flippy-nav{
    position: absolute;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,.8);
  }
  li{
    position: fixed;
    top: calc(50vh - 60px);
    a{
      float: left;
      width: 100%;
      color: $midnight;
      font-weight: 900;
      position: relative;
      &:before{
        background: $midnight;
        color: #fff;
        position: absolute;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 100%;
      }
      &:hover:before{
        opacity: 0;
      }
    }
  }
  .next{
    left: -120px;
    transition: all .2s cubic-bezier(0.5, 0, 0, 1);
    &:hover{
      left: 0;
      transition: all .2s cubic-bezier(0.5, 0, 0, 1);
    }
    a{
      &:before{
        content:'<';
        right: -30px;
      }
    }
  }
  .prev{
    right: -120px;
    transition: all .2s cubic-bezier(0.5, 0, 0, 1);
    &:hover{
      right: 0;
      transition: all .2s cubic-bezier(0.5, 0, 0, 1);
    }
    a{
      &:before{
        content:'>';
        left: -30px;
      }
    }
  }
}

// Gallery links
.cta-gallery{
  float: left;
  position: relative;
  margin: -2.65rem 0 0 .5rem;
  @include cta;
}
