// User Login Page
.page-user-login{
  height: 100vh;
  #user-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 0 2rem;
    & > div{
      max-width: 27rem;
    }
  }
  label,
  .description{
    display: none;
  }
}

// Webform nodes
.node-webform{
  .submitted{
    display: none;
  }

  .field-name-field-body{
    max-width: 720px;
    margin: auto;
    p{
      padding: 2rem 0 0;
    }
  }

  .webform-client-form{
    padding: 1rem 0 3rem;
    max-width: 720px;
    margin: auto;
  }
}

// Begin responsive work
// --------------------------------------------------

@media #{$large}{
  .node-webform{
    .field-name-field-body{
      padding: 2rem;
      p{
        font-size: 1rem;
        text-align: left;
      }
    }
    .webform-client-form{
      padding: 1rem 2rem 3rem;
      input,
      textarea{
        font-size: 1rem;
      }
    }
  }
}

@media #{$medium}{
  .node-webform{
    .field-name-field-body{
      padding: 2rem;
      p{
        font-size: 1rem;
        text-align: left;
      }
    }
    .webform-client-form{
      padding: 1rem 2rem 3rem;
      input,
      textarea{
        font-size: 1rem;
        text-align: left;
      }
    }
  }
}

@media #{$small}{
  .node-webform{
    .field-name-field-body{
      padding: 2rem;
      p{
        font-size: 1.2rem;
      }
    }
    .webform-client-form{
      padding: 1rem 2rem 3rem;
      input,
      textarea{
        font-size: 1.2rem;
      }
    }
  }
}
