// Photo node
.node-type-photo{

  // Node photo container
  #node-photo-container{
    float: left;
    width: 100%;
    max-height: 90vh;
    background: $midnight;
    .field-name-field-image{
      display: flex;
      justify-content: center;
      margin: 0 auto;
      max-width: 1300px;
      img{
        max-height: 90vh;
        width: auto;
      }
    }
  }

  // Node title and date
  #node-header{
    clear: both;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 720px;
    padding: 1.5rem 0 .5rem;
    margin: auto;
    .node-title{
      @include title;
      font-size: 35px;
      text-transform: uppercase;
    }
  }

  // Node body contents
  #node-content{
    max-width: 720px;
    margin: auto;
    .field-name-field-image{
      display: flex;
      justify-content: center;
      img{
        max-height: calc(100vh - 2rem);
        min-width: 100%;
      }
    }
    .field-name-body{
      float: left;
      width: 100%;
    }
  }

  // Node filters
  #node-filters{
    float: left;
    width: 100%;
    padding: 2em;
    margin: 1rem 0 0;
    background: $midnight;
    .container{
      display: flex;
      justify-content: center;
      align-content: center;
    }
    .field-item{
      float: left;
    }
    a{
      @include tags;
      color: #fff;
      margin-right: 1rem;
      text-transform: uppercase;
      &:before{
        background: #fff;
      }
    }
  }
}

// Begin responsive work
// --------------------------------------------------

@media #{$medium}{
  .node-type-photo{

    // Node title and date
    #node-header{
      padding: 1.5rem 2rem .5rem;
      .node-title{
        font-size: 30px;
      }
    }

    // Node body contents
    #node-content{
      p{
        padding: 1rem 2rem;
      }
    }
  }
}

@media #{$small}{
  .node-type-photo{

    // Node title and date
    #node-header{
      padding: 1.5rem 2rem .5rem;
      .node-title{
        font-size: 25px;
      }
    }

    // Node body contents
    #node-content{
      p{
        padding: 1rem 2rem;
      }
    }
  }
}
