// Photo node
.node-type-photo{

  // Node photo container
  #node-photo-container{
    @include full;
    max-height: 90vh;
    background: $midnight;
    .field-name-field-image{
      display: flex;
      justify-content: center;
      margin: 0 auto;
      max-width: 1300px;
      img{
        max-height: 90vh;
        width: auto;
      }
    }
  }

  // Node title and date
  #node-header{
    padding: 0 0 1rem;
    h1{
      float: left;
      clear: both;
      padding: 0 0 .25em;
      @include title;
    }
    .submitted{
      float: right;
      padding: 2vw 0 0;
    }
  }

  // Node body contents
  #node-content{
    .field-name-field-image{
      display: flex;
      justify-content: center;
      img{
        max-height: calc(100vh - 2rem);
        min-width: 100%;
      }
    }
    .field-name-body{
      @include full;
    }
  }

  // Node filters
  #node-filters{
    @include full;
    padding: 2em;
    margin: 1rem 0 0;
    display: flex;
    justify-content: center;
    background: $midnight;
    .field-items{
      float: left;
    }
    .field-item{
      @include tags;
      display: inline-block;
      a{
        color: #fff;
        margin: 0 1rem 0 0;
        &:before{
          background: #fff;
        }
      }
    }
  }
}
