// Views foundation
.view{
  @include full;
  background: $midnight;
  .view-content{
    background: #000;
  }
  .view-footer{
    .button{
      font-size: 1rem;
      padding: .8rem 2.5rem;
      margin: .6rem 1.5rem;
      @include button;
    }
  }
}

// Photo node teasers
.view-photos{
  .view-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .views-row{
    position: relative;
    width: 33.333%;
  }
  .photo-teaser{
    position: relative;
    overflow: hidden;
    z-index: 10;
    &:focus,
    &:hover{
      .photo-title{
        bottom: 0;
      }
    }
  }
  .photo-title{
    position: absolute;
    left: 0;
    bottom: -4rem;
    width: 100%;
    padding: 1rem;
    font-size: 1.25vw;
    font-weight: 900;
    text-transform: uppercase;
    background: rgba(255,255,255,.8);
    transition: .2s all cubic-bezier(0.5, 0, 0, 1);
  }
}

// Pagers
.pager{
  float: right;
  width: auto;
  font-size: 1em;
  line-height: 1;
  text-transform: capitalize;
  background: $midnight;
  li{
    float: left;
    &.pager-current{
      background: $cyan;
      color: #fff;
    }
    a{
      display: block;
      padding: 1.5em;
      color: #fff;
      float: left;
      transition: all .2s cubic-bezier(0.5, 0, 0, 1);
      &:hover,
      &:active{
        border: 0;
        color: #fff;
        background: $crimson;
        transition: all 0s cubic-bezier(0.5, 0, 0, 1);
      }
    }
  }
  .pager-current{
    display: block;
    padding: 1.5em;
    float: left;
    transition: all .2s cubic-bezier(0.5, 0, 0, 1);
  }
}
.pager-next,
.pager-previous{
  display: none;
}
.pager-ellipsis{
  padding: 1.5em .98em;
  color: #fff;
}

// Begin responsive work
// --------------------------------------------------

@media #{$large}{
  // Photo node teasers
  .view-photos{
    .views-row{
      width: 50%;
    }
    .photo-title{
      font-size: 1rem;
    }
  }
}

@media #{$medium}{
  // Photo node teasers
  .view-photos{
    .views-row{
      width: 50%;
    }
    .photo-title{
      font-size: .8rem;
    }
  }
}

@media #{$small}{
  // Photo node teasers
  .view-photos{
    .views-row{
      width: 100%;
    }
    .photo-title{
      font-size: 1rem;
    }
  }
}