// Article nodes
.node-webform{
  .submitted{
    display: none;
  }

  .field-name-field-body{
    max-width: 720px;
    margin: auto;
    p{
      padding: 1rem 0;
    }
  }

  .webform-client-form{
    padding: 1rem 0 3rem;
    max-width: 720px;
    margin: auto;
  }

}