// Mixins
@mixin cta{
  a{
    font-size: .9rem;
    padding: .75rem 2.5rem;
    border-radius: 43px;
    color: #fff;
    background: $cyan;
    text-transform: uppercase;
    &:hover,
    &:focus{
      background: linear-gradient(-45deg, $violet 0%, $crimson 100%);
    }
  }
}

@mixin tags{
  a{
    line-height: 1.5;
    text-transform: uppercase;
    color: $midnight;
    overflow: hidden;
    font-size: 1.25vw;
    font-weight: 500;
    position: relative;
    display: inline-block;
    outline: none;
    vertical-align: bottom;
    text-decoration: none;
    &:before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: $midnight;
      transition: transform 0.2s;
      transform: scaleY(.5) translateX(-105%);
    }
    &:before,
    &:after{
      pointer-events: none;
      backface-visibility: hidden;
    }
    &:hover:before,
    &:focus:before{
      transform: scaleY(1) translateX(0);
    }
  }
}