/*
* variables.scss begin
* ==================================================
*/

// Colors
$light: #f3d5ae;
$dark: #2e2f33;
$primary: #07274f; 
$secondary: #e9704f;
$alternate: #53b3c7;

// Article teaser padding 
$teaser-lg: 4vw;
$teaser-md: 2vw;
$teaser-sm: 1rem;