/*
* admin.less begin
* Administration elements and tools
* ==================================================
*/
/* 
* Log in screen
-------------------------
*/
.page-user-login{
	#page-title,
	.tabs-primary,
	.description{
  	display: none;
	}
}
#user-login{
  padding: 1em 0;
  margin: auto;
  width: 400px;
}

/* 
* Display messages for all users
-------------------------
*/
#messages{
  float: left;
  width: 100%;
  padding: 1em;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #fcfcfc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fcfcfc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#fcfcfc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#fcfcfc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#fcfcfc 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#fcfcfc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
	li{
	  clear: both;
	}
}

/* 
* Primary and secondary administration tabs
-------------------------
*/
.tabs-primary{
  float: left;
  width: 100%;
  ul{
    margin-bottom: 1em;
    float: left;
  }
  li{
    float: left;
    padding: 1em 0 0;
    a{
      float: left;
      padding: .5em;
      background: #efefef;
      color: #4f7b84;
      border: 0;
      text-decoration: none;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
      &:hover{
        background: #e74c3c;
        color: #fff;
        -webkit-transition: all 0s ease;
        -moz-transition: all 0s ease;
        -ms-transition: all 0s ease;
        -o-transition: all 0s ease;
        transition: all 0s ease;
      }
    }
    &.is-active a{
      background: #4f7b84;
      color: #fff;
    }
  }
}
.page-taxonomy .tabs-primary{
  padding: 1em;
  li{
    padding: 0;
  }
}